{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randy Yuan</title>
    <script src="{% static 'js/bundle.js' %}"></script>
</head>
<body>
    <div class="header">
{#        <img id="background" src="{% static "background.jpg" %}" alt="">#}
    {#    <ul>#}
    {#        <li>Home</li>#}
    {#        <li>About</li>#}
    {#        <li>Resume</li>#}
    {#        <li>Projects</li>#}
    {#        <li>Algorithms</li>#}
    {#    </ul>#}
        <div class="name-frame">
            <h1 style="color: white" class="clear-margin roboto white name first-name">RANDY</h1>
            <h1 class="clear-margin roboto white name last-name">YUAN</h1>
        </div>
    </div>

</body>
</html>