{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randy Yuan</title>
    <script src="{% static 'js/bundle.js' %}"></script>
</head>
<body>
    <div class="header">
        <img id="background" src="{% static "background.jpg" %}" alt="">
        <ul id="navigation-bar">
            <li>Home</li>
            <li>About</li>
            <li>Resume</li>
            <li>Projects</li>
            <li>Algorithms</li>
        </ul>
        <h1 class="clear-margin roboto white name">RANDY YUAN</h1>
        <p class="clear-margin roboto white name-subtitle">- passionate about data, numbers -</p>
    </div>

</body>
</html>