body {
    font-size: 15px;
}

.header {
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    background-size: cover;
}

#background {
    z-index: -1000;
    filter: brightness(50%);
    width: 100%;
}

.clear-margin {
    margin: 0;
}

.roboto {
    font-family: Geo Sans Light, Helvetica;
    font-weight: 100;
}

.white {
    color: #eee;
}

#navigation-bar{
    position: absolute;
    top: 2rem;
}

.name {
    font-size: 5rem;
    position: absolute;
    top: 13rem;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 600px) {
    .header {
        width: auto;
        height: 20rem;
    }

    #background {
        width: auto;
        height: 100%;
    }
}